/* 基础样式 */
* {
	margin: 0px;
	padding: 0px;
	outline : none;
}

ol,ul {
	list-style: none;
}

body {
    background: url("/style/images/bg.png") repeat scroll 0 0 transparent;
	/*color: #8C8C8C;*/
	color:#000;
    cursor: default;
    font: 12px Arial,Helvetica,sans-serif;
}

a {
	color: #FC6B96;
	text-decoration: none;
	outline: none;
}

A:hover {
	background-color:none;
	text-decoration: none;
}

img {
	border: none;
}

/* 隐藏 */
.none {
	display: none;
}

/* 清除浮动 */
.br {
	overflow: hidden;
	clear: both;
	height: 1px;
	width: auto;
	zoom: 1;
}
/*选择背景 */
::selection {
    background:#336699;
    color:#fff;
}
::-moz-selection {
    background:#336699;
    color:#fff;
}
::-webkit-selection {
    background:#336699;
    color:#fff;
}
/*常用*/
.red-btn {
	background: none repeat scroll 0 0 #FF5F83;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 3px;
	vertical-align: middle;
   margin-left: 3px;
}

.input-r {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #E2E2E2, 1px 1px 2px #E2E2E2 inset;
    font-size: 14px;
    margin: 2px;
    padding: 6px 5px;
    vertical-align: middle;
    width: 180px;
}
.input-d {
    background: none repeat scroll 0 0 #EEEDED;
}
.height1 {
	height: 10px;
	width: 100%;
   clear: both;
}

.height2 {
	height: 20px;
	width: 100%;
   clear: both;
}
.h2-t {
    color: #4B4A4A;
    font-size: 18px;
    font-weight: lighter;
    margin: 15px 0 10px;
}
h3 {
    color: #3781BC;
    margin-bottom: 10px;
    margin-top: 5px;
}
input[type="text"] {
    height: 20px;
}
.error{
	color:red;
}
/*顶部*/
#header {
  background:url(/style/images/bg-header.jpg) 0px 0;
  height:30px;
  padding-bottom:9px;
  padding-top:10px;
}
#logo {
	float: left;
	width: 154px;
}
#inner-header,#inner-footer{
    margin: 0 auto;
    width: 960px;
}
#main {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7D7D7;
    margin: 10px auto 0;
    min-height: 600px;
    padding: 20px;
    width: 920px; 
  	height:auto !important;
  	height:600px;
}
#sidebar {
    float: left;
    font-size: 11px;
    line-height: 14px;
    width: 170px;
}
#sidebar h2 {
  font-weight: bold;
  color: black;
  display: inline-block;
  padding-bottom: 21px;
}
#sidebar .sidebar-xl-toggle {
  color: #636363;
  font-size: 11px;
  font-weight: normal;
  margin: 0 30px 0 10px;
}
#sidebar .sidebar-widget {
  margin-bottom: 20px;
}
#sidebar .sidebar-widget h3 {
    border-bottom: 1px solid #D7D7D7;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 150px;
}
#sidebar .sidebar-widget li {
  line-height: 25px;
}
#sidebar .sidebar-widget li a {
  color: #636363;
}
#sidebar #sidebar-widget-profile img{
	border: 1px solid #000000;
	width: 45px;
  	float: left;
}
#sidebar #sidebar-widget-profile ul {
  float: left;
  line-height: 11px;
  margin-left: 5px;
  margin-top: -2px;
  width: 95px;
}
#sidebar #sidebar-widget-profile ul a {
  color: #636363;
}
#sidebar #sidebar-widget-profile .profile-info {
  line-height: 16px;
}
#sidebar #sidebar-widget-stream .streams {
  padding-left: 9px;
}
#sidebar #sidebar-widget-stream .streams .title {
  background: url("../images/cross-stream-transparent.png") no-repeat scroll left center transparent;
  padding-left: 13px;
  padding-top: 1px;
}
/*slidebar*/
#user-msg {
    float: left;
    margin-left: 200px;
}
#user-msg .login {
    background: url("../images/button-log.png") no-repeat scroll 0 0 transparent;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/images/button-log.png'); 
    _background-image: none; /* IE6 */
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    padding-top: 5px;
    text-align: center;
    width: 63px;
}
#user-msg .join {
    background: url("../images/button-join.png") no-repeat scroll 0 0 transparent;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/images/button-join.png'); /* IE6 */
    _background-image: none; /* IE6 */
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    padding-top: 5px;
    text-align: center;
    width: 110px;
}
.search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7D7D7;
    float: right;
    height: 27px;
    margin-left: 15px;
    width: 261px;
}
.search img {
    float: left;
    margin-left:5px;
    _margin-left:6px;
}
#search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #7F7F7F;
    float: left;
    font-size: 12px;
    margin-top: 4px;
    padding-left: 5px;
    width: 200px;
}
#left{
    float: left;
    width: 500px;
}
#right{
    float: right;
	width: 240px;
}
#class-bar {
    color: #006600;
    font-size: 13px;
    margin: -5px 0 5px;
    width: auto;
}
.right-box {
    padding: 10px 10px 35px;
}
/*index*/
#weimei-say{
}
#weimei-say p {
    color: #006600;
    line-height: 18px;
}
#latest-user-avatar img {
    border: 1px solid #ccc;
    padding: 1px;
}
#latest-comments {
    margin-top: 20px;
}
#latest-comments h3{
	margin-bottom:0px;
}
.l-c-item {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0 25px;
}
.l-c-i-avatar {
    float: left;
    margin-right: 5px;
}
.l-c-i-avatar {
    border: 1px solid #ccc;
}

#indexContent{
	width:560px;
}
#slider{
	float:left;
	margin: 10px 0 0;
	width:57px;
}
#slider a:hover{
	background:none;
}
.classTop {
    margin: 25px 0 0;
}
.classContent img {
    border: 2px solid #FFFFFF;
    height: 100px;
    margin: 15px 0 4px 4px;
    width: 100px;
}
.classContent a:hover{
	background:none;
}
#link{
	float: left;
    width: 100%;
}
#link li{
	display:inline;
	margin:0 10px;
}
/*other*/
#create {
	
}
#pagelist {
	margin: 25px 0;
	text-align: center;
}
#pagelist span {
	background: none repeat scroll 0 0 #FC6B96;
	color: #FFFFFF;
	padding: 2px 8px;
}
#pagelist a {
	border: 1px solid #8DB5D7;
	padding: 1px 6px;
}
/*cotent*/
#r-u-a{
   padding-bottom: 50px;
}
#r-u-a img{
    border: 2px solid #FFFFFF;
    display: inline;
    float: left;
    margin-right: 13px;
}
#r-u-a span {
}
#r-u-a .edit {
    margin-left: 62px;
    margin-top: 5px;
}
#r-u-a dd{
	float:left;
}
#relate-pic img {
    float: left;
    height: 82px;
    width: 110px;
}
#pic,#avatar,#article,#tag{
	float:right;
	width:750px;
    overflow: hidden;
}
#picOne{
   text-align: center;
}
#picOne img{
   box-shadow: 1px 1px 10px #7D7D7D;
   max-width:480px;
   width:expression(　
　function(img){　
　	img.onload=function(){　
　	this.style.width=(this.width>480)?"480px":this.width+"px"　
　	};　
　}(this)　
　);　
}
.picbox{
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 6px #000000;
    float: left;
    margin: 10px 5px 5px 0px;
    overflow: hidden;
    width: 240px;
}
.picbox img{
	width:240px;
}
.picbox:hover .imgDesc{
	display:block;
}
.imgDesc{
	display:none;
    background:rgba(0, 0, 0, 0.8);
    height: 40px;
    margin-top: -45px;
    padding: 5px 0 0 10px;
    position: relative;
}
.picbox .imgDesc .album-name{
	color: #FFFFFF;
}
.picbox .imgDesc span{
	color:#cccccc;
}
.picbox a:hover{
	background: none;
}
.avatarBox{
    float: left;
    height: 150px;
    margin: 5px;
    overflow: hidden;
    width: 240px;
    _width: 240px;
}
.avatarInnerBox{
	border: 1px solid #E6E6E6;
	float: left;
	height: 100px;
	padding: 10px;
	width: 100px;
}

.avatarInnerBox img {
	height: 100px;
	width: 100px;
}

.avatarDesc {
	border: 0 solid gray;
	color: #0063DC;
	float: right;
	font-weight: bold;
	margin-top: 10px;
	text-align: left;
	width: 104px;
	word-wrap: break-word;
}

.avatarDesc span {
	color: #999999;
	display: block;
	font-weight: normal;
	line-height: 20px;
}

#avatarShowAll li {
    border: 0 solid black;
    box-shadow: 1px 1px 4px #747474;
    float: left;
    height: 150px;
    margin: 18px 15px 18px 0;
    overflow: hidden;
    text-align: center;
    width: 150px;
}

#avatarShowAll img {
	height: 150px;
	width: 150px;
}

#show {
	display: none;
	position: absolute;
	background-image: url("/style/images/bgg.png");
	height: 196px;
	width: 258px;
	z-index: 100;
}

#show img {
	float: left;
	height: 40px;
	margin: 35px 0 10px;
	margin-left: 7px;
	width: 40px;
}

.item {
	border: 0 solid red;
	color: #111111;
	font-size: 14px;
	overflow: hidden;
	line-height: 40px;
}
#upload-main {
    margin-top: 50px;
}
.upload-notice{
	
}
#upload .item label {
	border: 0 solid black;
	clear: both;
	color: #757575;
	display: inline-block;
	float: left;
	margin-left: 0;
	width: 125px;
}

.item label {
	border: 0 solid black;
	color: #111111;
	display: inline-block;
	margin-left: 100px;
	width: 60px;
}

.tips {
	border: 0 solid black;
	color: #C1C1C1;
	height: 12px;
	line-height: 12px;
	margin-left: 168px;
	padding: 0;
}
/*tag*/
#labels {
	margin-top:10px;
}
.labels-add span {
	color: #9E9E89;
}
.labels-add {
    margin-top: 10px;
}
#tags{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: 7px;
    padding: 1px;
    width: 160px;
}
#tag-btn{
	float:right;
    margin-top: 7px;
}
#labels-list span, #labels-list a, #i-tag a {
	float:left;
	white-space: nowrap;
    background: none repeat scroll 0 0 #FF5F83;
    border-bottom: 2px solid #C9C9C9;
    border-right: 2px solid #C9C9C9;
    color: #FFFFFF;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 5px;
    height: 17px;
	line-height:17px;
}
/*tag list*/
#tag{
	width:750px;
}
#tag li{
    border-bottom: 1px dashed #CCCCCC;
    list-style: none outside none;
    padding: 5px 0;
}
#tag .date-author{
    color: #000000;
    float: right;
}
/*文字*/
#article li {
    border-bottom: 1px dashed #CCCCCC;
    height: 85px;
    list-style: none outside none;
    padding: 20px 0;
}
#article li:hover {
	background: #F5F5F5;
}
#article li .e-t {
    color: #336699;
    display: block;
    font-size: 15px;
}
#article li .e-t:hover {
    color: #FC6B96;
    background:none;
}
#article li p {
    float: left;
    width: 600px;
}
#article li span {
    color: #999999;
    display: block;
    float: left;
    margin: 5px 0;
}
#article li img {
    float: left;
    margin: 0 10px;
}
#left pre{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	line-height: 20px;
	padding: 10px;
	background: none repeat scroll 0 0 #FFF;
}
#left pre img{
	display:block;
	margin:15px auto;
	max-width:480px;
	width:expression(　
	　function(img){　
	　	img.onload=function(){　
	　	this.style.width=(this.width>480)?"480px":this.width+"px"　
	　	};　
	　}(this)　
	　);　
}
#e-add-content{
	width:100%;
	height:500px;
}
/*like*/
#likes {
    margin: 15px 0 0;
    text-align: center;
}
#like {
    background: url("/style/images/inpost-action-buttons.png") no-repeat scroll -23px 0 transparent;
    display: block;
    height: 25px;
    margin: 0 auto;
    width: 27px;
}
.like-tip {
    color: #808080;
    float: left;
    margin-left: 225px;
    width: 25px;
	_line-height:19px;
}
.like-count {
    background: url("/style/images/picc-cnt-baloon.png") repeat scroll 0 0 transparent;
    color: #808080;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    width: 33px;
}
#like-user{
	
}
#like-user img{
	width:35px;
}
/*comment*/
.commentsItem {
    height: auto;
    padding: 5px 0 25px;
}
.reply-doc {
	margin-left: 70px;
}
.commentsAvatar {
	float: left;
	width: 48px;
	border: 1px solid #ccc;
}

.commentsMsg {
    height: 20px;
    padding: 4px 0 0;
}
.commentsContent {
    margin-top: 5px;
}
#comment-area, #descr {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EAEAEA;
    font-size: 13px;
    height: 50px;
    margin-right: 5px;
    overflow: auto;
    padding: 2px 5px;
    width: 490px;
}
#comment-submit {
    box-shadow: 1px 1px 4px #5E5D5D;
    float: right;
    margin-top: 8px;
}
/*个人设置*/
ul.ihome-nav {
	border-bottom: 1px solid #CDD7D9;
	height: 25px;
	list-style: none outside none;
	margin: 0 5px 0 4px;
}

ul.ihome-nav li.current {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CDD7D9 #CDD7D9 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin: 0 5px;
    padding: 4px 7px 6px;
}

ul.ihome-nav li {
	clear: right;
	float: left;
	padding: 5px 7px 4px;
	text-align: center;
}

ul.ihome-nav a {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #CDD7D9;
	padding: 4px 8px;
}

/*idcard*/
#idcard {
    background: url("/style/images/i.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 270px;
    margin: 60px auto 0;
    padding-left: 68px;
    padding-top: 64px;
    width: 550px;
}
#idcard img {
	border: 2px solid #FFFFFF;
	display: inline;
	float: left;
	margin-left: -19px;
	margin-right: 10px;
	margin-top: -25px;
}

#idcard table {
	float: left;
	margin-top: 30px;
	display: inline;
}
/*个人文档信息*/
.u-class li {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
}
/*底部*/
#foot {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    margin: 30px auto 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#foot a {
	margin: 0 7px;
	color:#fff;
}
#foot #site-msg {
    float: right;
    text-align: right;
    width: 300px;
}
#foot #copyright {
    float: left;
    text-align: left;
    width: 200px;
}